.player-options {
    display: flex;
    justify-content: space-between;
    min-width: 5em;
    width: 100%;
    max-width: 8em;
}


.player-options svg {
    width: 1em;
}

.player-options.extended {
    max-width: 100%;
    gap: 1em;
}

.player-options.extended button:nth-child(1) {
    align-self: flex-start;
    margin-right: auto;
}

.player-options i {
    margin-left: 0.8ch;
}

.active-mode {
    color: var(--accent);
    position: relative;
}

.active-mode::after {
    content: "";
    position: absolute;
    bottom: 0.2em;
    left: 50%;
    transform: translateX(-50%);
    width: 0.25em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--accent);
}