.playlists-header {
    padding: 2em 1em;
}

.playlists-page {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 2em;
}

.playlists-pages > * {
    flex-grow: 1;
    width: 40%;
    max-width: 500px;
    min-width: 300px;
}