.search-input {
    position: relative;
    display: flex;
    width: 95%;
    margin: 1em 0;
    --padding-left: 0.8em;
}
.search-label {
    position: absolute;
    top: 50%;
    left: var(--padding-left);
    transform: translateY(-50%);
}

.search-bar {
    padding: 0.2em 0.3em 0.2em calc(1em + 1.5*var(--padding-left));
    outline: none;
    border: var(--main-border-text);
    border-radius: var(--radius);
    transition: border var(--transition-duration) ease-out;
    width: 100%;
}

.search-bar:hover {
    border-color: var(--text);
}

.search-bar:focus { border-color: var(--accent); }

.search-bar::placeholder, .search-label {
    color: var(--text-35);
    transition: color var(--transition-duration) ease-out;
}

.search-label i {
    opacity: 0;
    width: 0.1px;
    overflow: hidden;
}

.search-bar:hover::placeholder,
.search-bar:focus::placeholder,
.search-bar:hover ~ .search-label,
.search-bar:focus ~ .search-label {
    color: var(--text-50);
}