.music-details, .music-similar {
    max-width: 700px;
    width: 95%;
    margin: 2em auto;
    padding: 1em;
    border: var(--main-border-bg);
    backdrop-filter: var(--blur);
    background-color: var(--bg-85);
    border-radius: var(--radius);
}

.music-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em 1.5em;
}

.music-header img {
    flex-grow: 1;
    width: 13em;
    max-width: 50vh;
    aspect-ratio: 1;
    border-radius: var(--radius);
}

.music-header div {
    width: 60%;
    display: grid;
    gap: 0.8em;
}


.music-header h1 {
    font-size: 2rem;
    font-weight: bold;
}
.music-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.music-actions {
    margin: 2em 0 0;
    display: flex;
    gap: 1em;
}

.music-similar > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.music-similar h1 {
    font-size: clamp(1.3rem, 4vw, var(--h1-size));
}