.login-header {
    text-align: center;
}

.login-header h1 {
    margin-top: 1em;
    font-size: 2.8em;
    margin-bottom: 0.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 680px;
    margin: 2em auto;
    gap: 1.2em;
    padding: 2em 1em 0.5em;
    
    background-color: var(--bg-85);
    backdrop-filter: var(--blur);
    border: var(--main-border-bg);
    border-radius: var(--radius);
}

.login-form .btn-cta {
    margin: 1em 0;
}

.register-redirect {
    font-size: 0.9rem;
}

.register-redirect a {
    color: var(--accent);
}