.play-cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 2.1em;
    aspect-ratio: 1;
    background-color: var(--accent);
    color: var(--bg-solid);
    border-radius: 50%;
    cursor: pointer;
    transition: transform var(--transition-duration) ease-out;
    flex-shrink: 0;
}


@media (hover: hover) { /* prevent hover animation to became active animation on mobile (wich often dosen't look good) */
    .play-btn:hover {
        transform: scale(1.05);
    }
  }