.home {
    padding: 2em 1vw 0.5em;
}

.mobile .home {
    text-align: center;
}

.home-mix {
    padding: 2em 1em;
    border: var(--main-border-bg);
    backdrop-filter: var(--blur);
    background-color: var(--bg-85);
    border-radius: var(--radius);
    max-width: 1000px;
}

.home-mix .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em 2em;
    padding: 2em 0 0;
}