@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); /* poppins font */

/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: 1;
  appearance: none;
  -webkit-appearance: none;
  background: none;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  color: unset;
  text-decoration: none;
}

input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

::-webkit-scrollbar { width: 0.4em; }

::-webkit-scrollbar-track { margin: 0.5em 0; }

::-webkit-scrollbar-thumb {
  background: var(--text-35);
  border-radius: 50em;
  min-height: 15vh;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-50);
}


/* -------------------------------------------------------------------------- */
/*                               GLOBAL VARIABLE                              */
/* -------------------------------------------------------------------------- */
:root {
  --bg-solid: #1e1e1e;
  --bg-85: #1f1f1fcc;

  --text: #f5f5f5;
  --text-35: #f5f5f559; 
  --text-50: #f5f5f5ab;

  --accent: #CB9CF2;
  --fail: #EE7158;
  --success: #44CF6C;

  --blur: blur(5px);
  --main-border-bg: 3px solid var(--bg-solid);
  --main-border-text: 3px solid var(--text-50);
  --radius: 0.5rem;

  --transition-duration: 200ms;

  --h1-size: 2rem;
  --h2-size: 1.4rem;

  --toastify-color-error: var(--fail) !important;
  --toastify-color-success: var(--success) !important;
  --toastify-color-light: var(--text) !important;
  --toastify-text-color-light: var(--bg-solid) !important;
}

html {
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-solid);
}

.page {
  display: grid;
  gap: 0px 0px;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.page.pc {
  grid-template-columns: min-content auto; 
  grid-template-rows: auto min-content; 
  grid-template-areas: 
    "nav content"
    "player player";
}
.page.mobile {
  grid-template-rows: auto min-content;
  grid-template-areas: 
    "content"
    "nav";
}

.content {
  grid-area: content;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.mobile .content {
  padding-bottom: 10vh;
}

.h1 {
  font-size: var(--h1-size);
  font-weight: 600;
}

.h2 {
  font-size: var(--h2-size);
  font-weight: 600;
}

.h3 {
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  padding: 0.5em;
  cursor: pointer;
  transition: var(--transition-duration);
}

.btn-cta {
  background-color: var(--accent);
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.8em 2em; /* fallback */
  padding: 0.8em clamp(1.5em, 5vw, 2.5em);
  color: var(--bg-solid);
  font-weight: 600;
  transition: background-color var(--transition-duration) ease-out;
}

.btn-white {
  background-color: var(--text);
}

.btn-fail {
  background-color: var(--fail);
}

.btn-success {
  background-color: var(--success);
}


@media (hover: hover) { /* prevent hover animation to became active animation on mobile (wich often dosen't look good) */
  .btn:hover {
    color: var(--accent);
  }
  .btn-cta:hover {
    background-color: var(--text);
  }
  .btn-white:hover {
    background-color: var(--accent);
  }
}
