.admin-header {
    padding: 2em 1em;
}

.admin-header h1 {
    margin-bottom: 0.5em;
}

.admin-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.admin-actions > * {
    flex-grow: 1;
    width: 40%;
    max-width: 500px;
    min-width: 300px;
}