section.search {
    max-width: 750px;
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    border: var(--main-border-bg);
    backdrop-filter: var(--blur);
    background-color: var(--bg-85);
    border-radius: var(--radius);
}

.search .history {
    margin-top: 2em;
}