.register-header {
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 680px;
    margin: 2em auto;
    gap: 1.2em;
    padding: 2em 1em;
    
    background-color: var(--bg-85);
    backdrop-filter: var(--blur);
    border: var(--main-border-bg);
    border-radius: var(--radius);
}

.register-form .btn-cta {
    margin-top: 1em;
}